/* COMMON */

* {
	box-sizing: border-box
}

body {
	background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	height: 100vh;
	margin: 0px;
}

a {
	color: dodgerblue;
}

/* MAIN CONTENT */

#content {
	max-width: 600px;
	margin: auto;
	font-family: sans-serif;
	position: relative;
	top: 40%;
	transform: translateY(-40%);
	-webkit-transform: translateY(-40%);
	-ms-transform: translateY(-40%);
}

/* LOGIN */

.login-container {
	padding: 16px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: azure;
}

.login-container button {
	letter-spacing: 3px;
}

.login-container h1 {
	text-align: center;
}

.login-container input[type=text] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

.login-container input[type=text]:focus {
	background-color: #ddd;
	outline: none;
}

.login-container ._button {
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.6;
	transition: 0.4s;
}

.login-container .login {
	background-color: #616161;
}

.login-container .register {
	background-color: #4CAF50;
}

.login-container ._button:hover {
	opacity: 1;
}

/* SNACKBAR */

#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
}

#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

/* LOADER */

.loader {
	visibility: hidden;
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 150px;
	height: 150px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}